@import url("https://fonts.googleapis.com/css2?family=Glory:wght@400;500;600&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Glory", sans-serif;
  background-color: lemonchiffon;
}

.calc-body {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: gray;
  border-radius: 10px;
}

.btn {
  color: #fff;
  background-color: black;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

#clear-btn,
#delete-btn {
  width: 100px;
}

.calc-display {
  border: solid gray;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  height: 80px;
  margin: 0px 15px;
  font-size: 3rem;
}

.btn-row-one {
  margin-bottom: 10px;
}

.btn-row-one,
.btn-row-two,
.btn-row-three,
.btn-row-four,
.btn-row-five {
  border: solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-row-three,
.btn-row-four,
.btn-row-five {
  margin-top: 10px;
}
