@import url("https://fonts.googleapis.com/css2?family=Glory:wght@400;500;600&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Glory", sans-serif;
  background-color: whitesmoke;
}

.calc-body {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #004ccc;
  border-radius: 10px;
  border: black solid 5px;
}

button {
  color: #fff;
  background-color: darkgrey;
  font-size: 2rem;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
}

#clear-btn,
#delete-btn {
  width: 100px;
}

.calc-display {
  border: solid black 2px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  height: 90px;
  margin: 0px 30px;
  font-size: 4.5rem;
}
.btn-row-one {
  margin-bottom: 10px;
}

.btn-row-one,
.btn-row-two,
.btn-row-three,
.btn-row-four,
.btn-row-five {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-row-three,
.btn-row-four,
.btn-row-five {
  margin-top: 10px;
}

#btn-add,
#btn-multiply,
#btn-subtract,
#btn-equals,
#btn-decimal,
#btn-divide {
  background-color: orange;
}

#clear-btn,
#delete-btn {
  background-color: #ff0200;
}
